<div style="margin: 10px" class="ui secondary  menu">
    <a class="active item" [routerLink]= "['/home']">
      Home
    </a>    
    <a class="item" [routerLink]= "['/admin/course']">
        Admin Course
    </a>       
    <a class="item" [routerLink]= "['/admin/dashboard']">
      Admin Dashboard
    </a>      
    <a class="item" [routerLink]= "['/landing']">
        Landing Page
    </a>     
    <a class="item" [routerLink]= "['/user/courseDetails']">
        Course Details
    </a>
    <a class="item" [routerLink]= "['/user/user/courseList']">
        Course List
    </a>
    <a class="item" [routerLink]= "['/user/dashboard']">
        User Dashboard
    </a>    
    <a class="item" [routerLink]= "['/user/userLessonDetails']">
        User Lession Details
    </a> 
    <div class="right menu">
      <a class="ui item" [routerLink]= "['/login']">
        Login
      </a>
      <a class="ui item" [routerLink]= "['/signup']">
        Signup
      </a>
    </div>
  </div>
